*,*:before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    /* border: 1px solid red; */
  }
/*
  body {
    background: url('../images/wine-gallery.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    z-index: -1;
    position: fixed;
  } */
